.total-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(152, 152, 152, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-wrapper {
    background-color: #fff;
    border: 0.5px solid rgba(255, 255, 255, 0.3);
    border-radius: 18px;
    box-shadow: 0 50px 100px rgba(0, 0, 0, 0.25);
    position: relative;
    width: 516px;
    height: 250px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .confirm-btn {
    width: 125px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 30px;
    background: #0071e3;
    color: #fff;
    padding: 10px;
    margin-inline: 10px;
  }

  .text {
    font-weight: 300;
    font-size: 23px;
    color: black;
  }
}
