.form-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(152, 152, 152, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  position: relative;
  width: 400px;
  padding: 20px;
  background-color: #fff;
  border: 0.5px solid rgba(255, 255, 255, 0.3);
  border-radius: 18px;
  box-shadow: 0 50px 100px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  text-align: center;
  gap: 20px;
  .form-title {
    font-size: 28px;
    font-weight: 400;
    color: black;
  }
  .close-icon {
    color: black;

    width: 20px;
    height: 20px;
  }
  .close-icon-wrapp {
    position: absolute;
    left: 0;
    top: -44px;
    background: rgb(228, 228, 228);
    border-radius: 50%;
    color: #6e6e73;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    outline: none;
    cursor: pointer;
  }
  .confirm-btn {
    margin-top: 10px;
    border: none;
    width: 100px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 20px;
    background: #0071e3;
    color: #fff;
    padding: 10px;
  }
}

.error-message {
  color: red;
}
