.total-search-modal-wrapp {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(152, 152, 152, 0.85);

  .search-modal-wrapp {
    position: relative;
    min-height: 60vh;
    background: white;
    z-index: 2;
    animation: slide-down 0.5s ease-out;
    padding: 130px 130px 30px;
  }

  .search-input {
    border: none;
    outline: none;
    width: 100%;
    padding: 10px;
    font-size: 20px;
  }
  .search-list {
    list-style: none;
    padding: 30px 0 0 20px;
  }
  .search-item {
    cursor: pointer;
  }
  .search-icon {
    width: 20px;
    height: 20px;
  }
  .search-item:not(:last-child) {
    margin-bottom: 7px;
  }
  .search-item:hover {
    background-color: rgba(239, 239, 239, 0.9);
  }
  .search-input-wrapp {
    display: flex;
    align-items: center;
  }
}
//Animation
@keyframes slide-down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY();
  }
}
