.main-cards-wrapper {
  .main-title {
    font-size: 40px;
    color: #1d1d1f;
    padding: 100px 0 50px 80px;
    margin: 0;
    font-weight: 600;
  }

}

.products-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 36px;
}

.icon-block {
  display: flex;
  justify-content: start;
  align-items: center;
  position: absolute;
  top: -20px;
  right: 20px;
  gap: 5px;
}
.view-btn {
  background-color: black;
  cursor: pointer;
  display: flex;
}
.table-view {
  width: 100%;
  margin-top: 20px;
}
.view {
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 20px;
}
