.cart-container {
  padding: 80px 80px 0 80px;
  .back {
    color: #0071e3;
    cursor: pointer;
    font-weight: 400;
    font-size: 20px;
  }
  .top-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .title {
    font-size: 25px;
  }
}

.cart-items-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 20px;
  .item-title {
    font-size: 26px;
    font-weight: 400;
    margin: 0;
  }
  .top-wrapp {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .img-wrapper {
    display: flex;
    justify-content: center;
  }
  .cart-images {
    max-width: 200px;
    height: auto;
  }
  .item-wrapper {
    max-width: 300px;
    height: 100%;
    position: relative;
    background-color: #fff;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
  }

  .close-icon_wrapper {
    background: rgb(228, 228, 228);
    border-radius: 50%;
    color: #6e6e73;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    outline: none;
    cursor: pointer;
  }

  .price-wrapp {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .confirm-btn {
    border: none;
    width: 100px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 20px;
    background: #0071e3;
    color: #fff;
    padding: 10px;
  }
}

.empty-cart-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: center;
  .text {
    font-weight: 300;
    font-size: 23px;
  }
}
